version: '3.1'
services:
  mosquitto:
      image: eclipse-mosquitto
      hostname: mosquitto
      container_name: mosquitto
      ports:
        - "8883:8883"
        - "9001:9001"
      volumes: 
        - ${PWD}/mosquitto.conf:/mosquitto/config/mosquitto.conf
        - ${PWD}/mosquitto.passwd:/mosquitto/config/mosquitto.passwd